
 html,body{
     height: 100%;
    width: 100%;
    
}
.backgroundimg{
    background-color: darkcyan;
   
   
}
.container{
    margin-top:  5%;
}
.contactimg{
width: 1000px;
height:1000px;
height: 24rem;
width: 17.7rem;
}
.form-label{
    font-size: 1.1em;
    text-transform: uppercase;
    
}
.btn-primary{
    background-color: #6648b1;
    margin: 4%;
    border: 1px solid !important;

    
}

        

   
    
