
.body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}
.backgroundimg{
    background-color: darkcyan;
   
   
}
.container{
    margin-top:  5%;
}
.contactimg{
width: 2000px;
height:2000px;
height: 24rem;
width: 17.7rem;
}
.skickain {
    margin: 4%;
}
.form-label{
    font-size: 1.5em;
}